<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.winkey.loginmodule">
    <application
        android:name="com.winkey.commonlib.application.WinApp"
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".view.LoginActivity" />
    </application>

</manifest>